/*
* color
*/
$theme:                    	     #c3000f !default;
$white:                  	 	 #ffffff !default;
$black:					 	     #000000 !default;
$black-900:				     	 #1a1a1a !default;
$black-800:             	     #333333 !default;
$black-700:                      #4c4c4c !default;
$black-600:              	     #666666 !default;
$black-500:              	     #7F7F7F !default;
$black-400:              	     #999999 !default;
$black-300:              	     #B4B4B4 !default;
$black-200:              	     #cccccc !default;
$black-100:              	     #dedede !default;
$black-000:              	     #efefef !default;
$primary:                        #45464e;
$text-primary:                   #303133;
$text-regular:                   #606266;
$text-secondary:                 #909399;
$text-placeholder:               #c0c4cc;
$border-base:                    #dcdfe6;
$border-light:                   #e4e7ed;
$border-lighter:                 #ebeef5;
$border-extra-light:             #f2f6fc;
$pager-color:                    #fff;
/*
** size
*/
$size-1:				 		 12px !default;
$size-2:				 		 13px !default;
$size-3:				 		 14px !default;
$size-4:				 		 16px !default;
$size-5:				 		 18px !default;
$size-6:				 		 20px !default;
$size-7:				 		 24px !default;
$size-8:				 		 32px !default;
$size-9:				 		 48px !default;








